/*.menu-item,*/
.top-menu {
    list-style-type: none;
}
.menu-item {
    display: inline-table;
}

.content {
    position: relative;
}

.content > div {
    float: left;
}

.region {
    display: inline-block;
}

.region__name.btn {
    display: block;
    width: 100px;
}

.region__name {
    margin-left: 10px;
}



.countries {
    display: table;
}

.country {
    display: table-row;
    margin-bottom: 4px;
}

.country > span {
    display: table-cell;
    padding: 4px;
}

.country order-by {
    display: table-cell;
    cursor: pointer;
}

.country__flag {
    width: 40px;
    height: 28px;
    /*border: 1px gray;*/
    /*background-size: cover;*/
}

.country-header {
    font-size: 110%;
}

.country-header order-by:hover {
    font-weight: 700;
}

.country-total {
    background-color: #bbb;
}
