<div class="countries">
    <h1>Countries</h1>
    Search by Region: <input ng-model="search.region" />
    <div ng-repeat="country in countries | filter:search" class="country">
        <span class="country__flag" style="background: url({{country.flag}}) no-repeat; background-size: 40px">
        </span>
        <span ng-bind="country.name" class="country__name"></span>
        <span ng-bind="country.region" class="country__region"></span>
        <span ng-bind="country.subregion" class="country__subregion"></span>
        <span ng-bind="country.population" class="country__population"></span>
        <span ng-bind="country.area" class="country__area"></span>
        <span ng-bind="country.population / country.area | number:2" class="country__density"></span>
    </div>
</div>
